.button {
  width: 100px;
  padding: 10px;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  background-color: rgb(129, 146, 212);
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgba(66, 68, 90, 0.55);
}
